# Server Configuration
NODE_ENV=development
PORT=3000

# Database (Neon PostgreSQL)
DATABASE_URL=postgresql://neondb_owner:npg_WO6tSICsM8uc@ep-dawn-fire-anb5okx7-pooler.c-6.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require


# JWT Configuration
JWT_SECRET=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiYWRtaW4iOnRydWUsImlhdCI6MTUxNjIzOTAyMn0.KMUFsIDTnFmyG3nMiGM6H9FNFUROf3wh7SmqJp-QV30
JWT_EXPIRES_IN=7d

# Security
BCRYPT_SALT_ROUNDS=12
